<%= form_tag calendar_tasks_path do %>
  <% @temp.each do |task| %>
    <%= fields_for 'tasks[]', task do |f| %>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= f.label :duration, 'Duration (minutes)' %><br>
        <%= f.number_field :duration %>
      </div>
      <div class="field">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>