<p>
List up to 5 tasks you need to get done this week.
 They will be prioritized from 1-5.</p>

<%= form_tag tasks_path do %>
  <% @temp.each do |task| %>
    <%= fields_for 'tasks[]', task do |f| %>
      <div class="field">
        <%= "#{i += 1}." %>
        <%= f.label :description, 'Task description' %>
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= f.label :duration, 'Duration (minutes)' %>
        <%= f.number_field :duration %>
      </div>
      <div class="field">
        <%= f.hidden_field :user_id, value: current_user.id %><br>
      </div>
      </div>
    <% end %>
  <% end %>
  <div class="field">
    <%= "#{i += 1}." %>
    <%= label_tag :sleep_end, 'What time do you wake up?' %>
    <%= time_field_tag :sleep_end %>
  </div>
  <div class="field">
    <%= "#{i += 1}." %>
    <%= label_tag :sleep_start, 'What time do you go to bed?' %>
    <%= time_field_tag :sleep_start %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>