<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Start time</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<h2>Upcoming</h2>
  <tbody>
    <% current_user.tasks.each do |task| %>
      <% next if task.start_time < DateTime.now %> 
      <tr>
        <td><%= task.description %></td>
        <td><%= task.start_time.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %b %d, %I:%M %p ") %></td>
        <td><%= task.duration %> minutes</td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Delete', task, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>