<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @task.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @task.duration %> minutes
</p>

<p>
  <strong>Add a friend:</strong>
  <%= form_tag add_users_task_path do %>
    <div class="field">
      <%= label_tag :email, 'Email' %>
      <%= text_field_tag :email %>
    </div>
    <div class="actions">
      <%= submit_tag 'Add friend' %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
